
# Postgres database configs
DB_TYPE=postgres
DB_HOST=postgres-user #77.238.109.115 #pg2
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=Jie7eich
DATABASE=dbuser
LOGGING=true
DB_ENTITIES=modules/user/entities/*.entity.{ts,js}
DB_MIGRATIONS=migrations/*.{ts,js}


# app Configs
PORT=4002
API_PREFIX='/v1/api'
VERIFICATION_CODE_LENGTH=5
DEV_MODE=true
EMAIL_CONFIRM_ENDPOINT='http://localhost:8090/SetPassword'
REFRESH_TOKEN_VALIDATION_DAYS=30

#swagger configs
SWAGGER_TITLE ='User API'
SWAGGER_DESCRIPTION ='API use for user management'
SWAGGER_PREFIX =/docsuser
SWAGGER_ENABLE='1'

# rabbit configs
RABBIT_URL='amqp://'
RABBIT_PORT=5672
RABBIT_HOST=rabbit
RABBIT_USER=rabbitmq
RABBIT_PASS=rabbitmq

